.user-table-wrapper {
    margin: 20px 0 0 0;
    border: 1px solid #BFBFBF;
    box-shadow: 5px 5px 20px 10px #aaaaaa;
}

.user-header-wrapper th{
    width: 25%;
    text-align: center;
}

.user-info-wrapper th,
.user-info-wrapper td,
.appended-user-info-wrapper th,
.appended-user-info-wrapper td {
    width: 25%;
    text-align: center;
}